header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.logo {
  margin-left: 6vw;
  margin-top: 5vh; }

.hprincipal {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background-color: blueviolet;
  position: relative;
  overflow: hidden; }
  .hprincipal h1 {
    width: 100%;
    font-family: "Poppins", sans-serif;
    top: 20%;
    margin-top: 50px;
    padding: 0 50px;
    font-size: 8vmin;
    text-align: center;
    color: #ffffff; }
  .hprincipal h2 {
    width: 100%;
    font-family: "Poppins", sans-serif;
    top: 35%;
    padding: 20px 50px;
    font-size: 6vmin;
    text-align: center;
    color: #ffffff; }

.message {
  display: flex;
  flex-direction: column; }

#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
  opacity: 0.4; }

img:not(#shape) {
  position: absolute;
  left: 0; }

header img:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite; }

@keyframes move-1 {
  50% {
    transform: translateY(15px); } }

header img:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite; }

@keyframes move-2 {
  50% {
    transform: translateY(35px); } }

header img:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite; }

@keyframes move-3 {
  50% {
    transform: translateY(25px); } }

header img:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite; }

@keyframes move-4 {
  50% {
    transform: translateY(20px); } }

.navbar {
  background-color: blueviolet;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar__logo {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 20px 0;
    z-index: 100; }
  .navbar__accesos {
    display: flex; }
    .navbar__accesos li {
      margin: 10px 5px;
      list-style: none;
      border: 1px solid;
      border-radius: 10px;
      padding: 5px 15px; }
      .navbar__accesos li a {
        color: #fff;
        font-weight: bold;
        text-decoration: none; }
    .navbar__accesos :hover {
      background: #fff; }
      .navbar__accesos :hover a {
        color: blueviolet; }
    .navbar__accesos li ul {
      display: none;
      position: absolute;
      min-width: 100px; }
    .navbar__accesos li:hover > ul {
      display: block;
      background-color: transparent; }
      .navbar__accesos li:hover > ul .sub {
        background-color: blueviolet; }
        .navbar__accesos li:hover > ul .sub :hover {
          color: #2f0b50; }
      .navbar__accesos li:hover > ul li a {
        color: aliceblue; }
    .navbar__accesos > li {
      float: left; }
  .navbar__accesos-movile {
    display: none; }
    .navbar__accesos-movile:hover > ul {
      display: block; }
      .navbar__accesos-movile:hover > ul li {
        display: block; }
    .navbar__accesos-movile i {
      font-size: 35px; }
    .navbar__accesos-movile ul {
      display: none;
      position: absolute;
      right: 0;
      top: 0px;
      padding-top: 70PX;
      width: 100%;
      background-color: #49117c;
      z-index: 10; }
      .navbar__accesos-movile ul li {
        padding: 15px 0;
        text-align: center; }
        .navbar__accesos-movile ul li a {
          color: #fff;
          font-weight: bold;
          font-size: larger;
          text-decoration: none; }

@media (max-width: 900px) {
  .navbar__accesos {
    font-size: small; } }

@media (max-width: 767px) {
  .navbar__accesos {
    display: none; }
  .navbar__accesos-movile {
    display: block; } }

@media (max-width: 600px) {
  .hprincipal h1 {
    margin-top: 10px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  background: linear-gradient(0deg, #edcbf6 0%, rgba(199, 127, 246, 0.776348) 100%);
  margin: 0 auto; }

.contact {
  font-family: verdana;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
  .contact__form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    gap: 10px; }
    .contact__form input, .contact__form textarea {
      border-radius: 10px;
      border: 1px solid blueviolet;
      padding: 10px;
      font-size: 120%;
      text-transform: uppercase; }
    .contact__form label {
      font-weight: bold;
      font-size: 120%; }
    .contact__form__cta {
      background-color: blueviolet;
      color: #fff;
      font-weight: bold;
      font-size: 120%;
      border-radius: 10px;
      border: 1px solid blueviolet;
      width: fit-content;
      padding: 10px 50px !important;
      margin: 30px auto; }
      .contact__form__cta:hover {
        cursor: pointer; }
  .contact__location {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .contact__location iframe {
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 1px 9px 70px #49117c; }
    .contact__location li {
      list-style: none;
      font-size: x-large;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      text-shadow: 1px 9px 10px #49117c; }

@media (max-width: 550px) {
  .contact__form input, .contact__form textarea, .contact__form label {
    font-size: 100%; }
  .contact__location ul li {
    font-size: 100%; }
  .contact__location iframe {
    width: 270px;
    height: 200px; } }

@media (max-width: 425px) {
  .contact__form input, .contact__form textarea, .contact__form label {
    font-size: 80%; }
  .contact__location ul li {
    font-size: 80%; }
  .contact__location iframe {
    width: 216px;
    height: 160px; } }

.afilia {
  width: 80vw;
  margin: 0 auto;
  padding-top: 50px; }

.tituloarea {
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95vw;
  margin: 0 auto;
  text-align: center; }

.disca {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 50px; }
  .disca__seccion {
    font-size: 2.1rem;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), grey); }
    .disca__seccion a {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff; }
    .disca__seccion img {
      margin-top: 20px;
      width: 80%;
      position: relative !important;
      height: 30%;
      border-radius: 10px; }

@media (max-width: 1200px) {
  .disca {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 900px) {
  .disca__seccion {
    font-size: 1.9rem; } }

@media (max-width: 750px) {
  .disca__seccion {
    font-size: 1.5rem; } }

@media (max-width: 650px) {
  .disca__seccion {
    font-size: 1.1rem; }
  .tituloarea {
    font-size: 2.3rem; } }

@media (max-width: 500px) {
  .disca {
    grid-template-columns: 1fr; }
    .disca__seccion {
      font-size: 2rem; }
  .tituloarea {
    font-size: 1.75rem; } }

@media (max-width: 350px) {
  .disca__seccion {
    font-size: 1.5rem; } }
