header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.logo {
  margin-left: 6vw;
  margin-top: 5vh; }

.hprincipal {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  background: linear-gradient(0deg, rgba(199, 103, 243, 0.5) 0%, blueviolet 100%);
  position: relative;
  overflow: hidden; }
  .hprincipal h1 {
    width: 100%;
    text-shadow: 1px 1px 5px black;
    font-family: "Poppins", sans-serif;
    top: 20%;
    margin-top: 50px;
    padding: 0 50px;
    font-size: 8vmin;
    text-align: center;
    color: #fff; }
  .hprincipal h2 {
    width: 100%;
    text-shadow: 1px 1px 5px black;
    font-family: "Poppins", sans-serif;
    top: 35%;
    padding: 20px 50px;
    font-size: 6vmin;
    text-align: center;
    color: #fff; }

.message {
  display: flex;
  flex-direction: column; }

#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
  opacity: 0.4; }

#shap {
  position: absolute;
  left: 0; }

header img:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite; }

@keyframes move-1 {
  50% {
    transform: translateY(15px); } }

header img:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite; }

@keyframes move-2 {
  50% {
    transform: translateY(35px); } }

header img:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite; }

@keyframes move-3 {
  50% {
    transform: translateY(25px); } }

header img:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite; }

@keyframes move-4 {
  50% {
    transform: translateY(20px); } }

.navbar {
  background-color: #8a2be2;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar__logo {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px 0;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px; }
    .navbar__logo img {
      position: relative !important;
      animation: none !important;
      opacity: 1 !important; }
  .navbar__accesos {
    display: flex; }
    .navbar__accesos li {
      margin: 10px 5px;
      list-style: none;
      border: 1px solid;
      border-radius: 10px;
      padding: 5px 15px; }
      .navbar__accesos li a {
        color: #fff;
        font-weight: bold;
        text-decoration: none; }
    .navbar__accesos :hover {
      background: #fff; }
      .navbar__accesos :hover a {
        color: #8a2be2; }
    .navbar__accesos li ul {
      display: none;
      position: absolute;
      min-width: 100px; }
    .navbar__accesos li:hover > ul {
      display: block;
      background-color: transparent; }
      .navbar__accesos li:hover > ul .sub {
        background-color: #8a2be2; }
        .navbar__accesos li:hover > ul .sub :hover {
          color: #2f0b50; }
      .navbar__accesos li:hover > ul li a {
        color: #fff; }
    .navbar__accesos > li {
      float: left; }
  .navbar__accesos-movile {
    display: none; }
    .navbar__accesos-movile:hover > ul {
      display: block; }
      .navbar__accesos-movile:hover > ul li {
        display: block; }
    .navbar__accesos-movile i {
      font-size: 35px; }
    .navbar__accesos-movile ul {
      display: none;
      position: absolute;
      right: 0;
      top: 0px;
      padding-top: 120PX;
      width: 100%;
      background-color: #49117c;
      z-index: 10; }
      .navbar__accesos-movile ul li {
        padding: 15px 0;
        text-align: center; }
        .navbar__accesos-movile ul li a {
          color: #fff;
          font-weight: bold;
          font-size: larger;
          text-decoration: none; }

@media (max-width: 900px) {
  .navbar__accesos {
    font-size: small; }
  .navbar__logo {
    font-size: x-large; } }

@media (max-width: 767px) {
  .hprincipal h1 {
    font-size: 7vmin; }
  .hprincipal h2 {
    font-size: 5vmin; }
  .navbar__accesos {
    display: none; }
  .navbar__accesos-movile {
    display: block; } }

@media (max-width: 600px) {
  .hprincipal h1 {
    margin-top: 10px; } }

.informacion {
  width: 80vw;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 1.3em;
  text-align: justify; }
  .informacion h1 {
    padding-bottom: 20px; }
  .informacion ul {
    padding-left: 50px;
    padding-bottom: 30px;
    line-height: 1.5; }
  .informacion__video {
    width: 80vw;
    text-align: center; }
  .informacion iframe {
    border-radius: 10px;
    box-shadow: 10px 9px 7px #8a2be2; }

@media (max-width: 700px) {
  .informacion {
    font-size: 1em; }
    .informacion iframe {
      width: 70vw;
      height: 40vh; }
    .informacion ul {
      padding-left: 10px; } }

@media (max-width: 700px) and (orientation: landscape) {
  .informacion {
    font-size: 1em; } }

@media (max-width: 600px) {
  .informacion {
    text-align: left;
    font-size: .8em; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  background: linear-gradient(0deg, #edcbf6 0%, rgba(199, 127, 246, 0.776348) 100%);
  margin: 0 auto; }

.contact {
  font-family: verdana;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
  .contact__head {
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.8em; }
  .contact__form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 70vw;
    margin: 0 auto;
    gap: 10px; }
    .contact__form input, .contact__form textarea {
      border-radius: 10px;
      border: 1px solid #8a2be2;
      padding: 10px;
      font-size: 120%;
      text-transform: uppercase; }
    .contact__form label {
      font-weight: bold;
      font-size: 120%; }
    .contact__form__cta {
      background-color: #8a2be2;
      color: #fff;
      font-weight: bold;
      font-size: 120%;
      border-radius: 10px;
      border: 1px solid #8a2be2;
      width: fit-content;
      padding: 10px 50px !important;
      margin: 10px auto; }
      .contact__form__cta:hover {
        cursor: pointer; }
  .contact__location {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .contact__location iframe {
      margin-top: 20px;
      border-radius: 10px;
      box-shadow: 1px 9px 70px #49117c; }
    .contact__location li {
      list-style: none;
      font-size: x-large;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      text-shadow: 1px 9px 10px #49117c; }

@media (max-width: 550px) {
  .contact {
    padding: 30px 10px; }
    .contact__form input, .contact__form textarea, .contact__form label {
      font-size: 100%; }
      .contact__form input__cta, .contact__form textarea__cta, .contact__form label__cta {
        margin-bottom: 10px; }
    .contact__location ul li {
      font-size: 100%; }
    .contact__location iframe {
      width: 270px;
      height: 200px; }
    .contact__head {
      font-size: 1.1em; } }

@media (max-width: 425px) {
  .contact__form input, .contact__form textarea, .contact__form label {
    font-size: 80%; }
  .contact__location ul li {
    font-size: 80%; }
  .contact__location iframe {
    width: 216px;
    height: 160px; } }

.afilia {
  width: 80vw;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 1.3em;
  text-align: justify; }
  .afilia ul, .afilia ol {
    padding-left: 40px; }

@media (max-width: 600px) {
  .afilia {
    text-align: left;
    font-size: 1em;
    padding: 30px 0; }
    .afilia ul, .afilia ol {
      padding-left: 20px; } }

.tituloarea {
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 95vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.disca {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 50px; }
  .disca__seccion {
    font-size: 2.1rem;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    border: 1px solid green;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), grey); }
    .disca__seccion a {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff; }
    .disca__seccion img {
      margin-top: 20px;
      width: 80%;
      position: relative !important;
      height: 30%;
      border-radius: 10px; }
    .disca__seccion:hover {
      transform: scale(0.95, 0.95);
      transition: all .5s;
      box-shadow: 5px 5px 25px #8a2be2; }

.presta {
  width: 95vw;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  text-align: center; }
  .presta__disca, .presta__medica {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), grey);
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column; }
    .presta__disca a, .presta__medica a {
      color: #fff; }
    .presta__disca img, .presta__medica img {
      margin-top: 20px;
      width: 40%;
      position: relative !important;
      height: 50%; }

@media (max-width: 1200px) {
  .disca {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 900px) {
  .disca__seccion {
    font-size: 1.9rem; } }

@media (max-width: 750px) {
  .disca__seccion {
    font-size: 1.5rem; } }

@media (max-width: 650px) {
  .disca__seccion {
    font-size: 1.2rem; }
  .tituloarea {
    font-size: 2.3rem; }
  .presta__disca, .presta__medica {
    width: 60%;
    height: 60%; } }

@media (max-width: 650px) and (orientation: landscape) {
  .disca__seccion {
    font-size: 1.2rem; } }

@media (max-width: 500px) {
  .disca {
    grid-template-columns: 1fr; }
    .disca__seccion {
      font-size: 1.7rem; }
  .tituloarea {
    font-size: 1.75rem; }
  .presta__disca, .presta__medica {
    width: 80%;
    height: 80%;
    font-size: 1.5rem; } }

@media (max-width: 350px) {
  .disca__seccion {
    font-size: 1.3rem; } }

.footer {
  background-color: #222;
  padding: 15px; }
  .footer__expte {
    display: flex;
    justify-content: center; }
    .footer__expte a {
      max-width: 450px;
      display: flex;
      font-size: 20px;
      color: #ffd;
      font-weight: bold; }
      .footer__expte a img {
        width: 15%;
        padding-left: 5px; }

.textwidget {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #222;
  color: #ffd; }
  .textwidget p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px 50px; }
    .textwidget p a {
      display: flex;
      align-items: center;
      color: #ffd;
      padding: 5px; }
    .textwidget p img {
      width: 40px;
      padding: inherit;
      border-radius: 50px; }

@media (max-width: 600px) {
  .footer__expte a {
    font-size: 10px;
    width: 250px;
    align-items: center; }
    .footer__expte a img {
      width: 25%; } }
