header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
// logo de incluir salud
.logo {
  margin-left: 6vw;
  margin-top: 5vh;
}
// START header con WAVES (en index)
.hprincipal{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    // background-color: $colordark;
    background: linear-gradient(0deg, rgba(199, 103, 243, 0.5) 0%, rgba(138, 43, 226, 1) 100%);
    position: relative;
    overflow: hidden;
    // estilos del texto del header
    & h1 {
      width: 100%;
      text-shadow: 1px 1px 5px black;
      font-family: "Poppins", sans-serif;
      // position: absolute;
      // transform: translate(-50%, -50%);
      // left: 60%;
      // top: 50%;
      top: 20%;
      margin-top: 50px;
      padding: 0 50px;
      font-size: 8vmin;
      text-align: center;
      color: #ffffff;
    }
    & h2 {
      width: 100%;
      text-shadow: 1px 1px 5px black;
      font-family: "Poppins", sans-serif;
      // position: absolute;
      // transform: translate(-50%, -50%);
      // left: 60%;
      // top: 50%;
      top: 35%;
      padding: 20px 50px;
      font-size: 6vmin;
      text-align: center;
      color: #ffffff;
    }
}
.message{
  display: flex;
  flex-direction: column;
}
#shape {
    position: absolute;
    left: 0;
    bottom: -2vw;
    opacity: 0.4;
  }
  img:not(#shape) {
    position: absolute;
    left: 0;
  }
  header img:nth-child(1) {
    opacity: 0.4;
    bottom: -0.1vw;
    animation: move-1 5s infinite;
  }
  @keyframes move-1 {
    50% {
      transform: translateY(15px);
    }
  }
  header img:nth-child(2) {
    opacity: 0.3;
    bottom: 0.5vw;
    animation: move-2 4s infinite;
  }
  @keyframes move-2 {
    50% {
      transform: translateY(35px);
    }
  }
  header img:nth-child(3) {
    bottom: 0.3vw;
    opacity: 0.2;
    animation: move-3 3.5s infinite;
  }
  @keyframes move-3 {
    50% {
      transform: translateY(25px);
    }
  }
  header img:nth-child(4) {
    bottom: 0.1vw;
    opacity: 0.3;
    animation: move-4 3s infinite;
  }
  @keyframes move-4 {
    50% {
      transform: translateY(20px);
    }
  }
// END WAVES

.navbar{
  background-color: $colordark;
  color: $colorlirghter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__logo{
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
      padding: 20px 0;
      z-index: 100;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 300px;
      & img {
        position: relative !important;
        animation: none !important;  
        opacity: 1 !important;      
      }
  }
  &__accesos{
    display: flex;
    & li {
      margin: 10px 5px;
      list-style: none;
      border: 1px solid;
      border-radius: 10px;
      padding: 5px 15px;
      a{
            color: $colorlirghter;
            font-weight: bold;
            text-decoration: none;
          }            
    }
    :hover{
      background: $colorlirghter;
      a{
        color: $colordark;
      }            
    }
    & li ul{
      display: none;
      position: absolute;
      min-width: 100px;
    }
    & li:hover > ul{
        display: block;
        background-color: transparent;
        .sub {
          background-color: $colordark;
          :hover{
              color: darken($color: $colordark, $amount: 35%);
          }
        }
        & li{
            & a{
              color: aliceblue;

            }
        }
    }
    & > li{
        float: left;
    }
  }
  // movile
  &__accesos-movile {
    display: none;
    &:hover > ul {
      display: block;
      li {
        display: block;
      }
    }

    i {
      font-size: 35px;
      
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      top: 0px;
      padding-top: 120PX;
      width: 100%;      
      background-color: darken($color: $colordark, $amount: 25%) ;
      z-index: 10;
      li {
        padding: 15px 0;
        text-align: center;
        a {
          color: $colorlirghter;
          font-weight: bold;
          font-size: larger;
          text-decoration: none;
        }
      }
    }
    
  }
}


@media (max-width:900px){
    .navbar {
      &__accesos{
        font-size: small;
      }
      &__logo {
        font-size: x-large;
      }
    }
}
@media (max-width:767px){
    .hprincipal{
      & h1 {
        font-size: 7vmin;
      }
      & h2 {
        font-size: 5vmin;
      }
      
    }
    .navbar__accesos{
        display: none;
    }
    .navbar__accesos-movile {
      display: block;
    }
}
@media (max-width:600px){
  .hprincipal{
    & h1 {
      margin-top: 10px;
    }
  } 
  
}
