.tituloarea {
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.1);
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
}
.disca{
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 50px;
    
    &__seccion {
        font-size: 2.1rem;
        // padding: 20px;
        display: grid;
        // grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        // justify-content: center;
        border: 1px solid green;
        border-radius: 10px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), grey);
        & a{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $colorlirghter;
        }
        
        & img {
            margin-top: 20px;
            width: 80%;
            position: relative !important;
            height: 30%;
            // margin: 0 auto;
            border-radius: 10px;
            
        }
    }
    
}
@media (max-width:1200px) {
    .disca{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:900px) {
    .disca__seccion{
        font-size: 2rem;
    }
}
@media (max-width:750px) {
    .disca__seccion{
        font-size: 1.7rem;
    }
}
@media (max-width:650px) {
    .disca__seccion{
        font-size: 1.3rem;
    }
    .tituloarea{
        font-size: 2.3rem;
    }
}

// @media (max-width:650px) and (orientation: landscape) {
//     .disca__seccion{
//         font-size: 1.2rem;
//     }
// }



@media (max-width:500px) {
    .disca{
        grid-template-columns: 1fr;
        &__seccion{
            font-size: 2rem;
        }

    }
    
    .tituloarea{
        font-size: 1.75rem;
    }
}
@media (max-width:350px) {
    .disca__seccion{
        font-size: 1.5rem;
    }
}