.tituloarea {
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.1);
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.disca{
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 50px;
    
    &__seccion {
        font-size: 2.1rem;
        // padding: 20px;
        display: grid;
        // grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        // justify-content: center;
        border: 1px solid green;
        border-radius: 10px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), grey);
        & a{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $colorlirghter;
        }
        
        & img {
            margin-top: 20px;
            width: 80%;
            position: relative !important;
            height: 30%;
            // margin: 0 auto;
            border-radius: 10px;
            
        }
        &:hover {
            transform: scale(0.95, 0.95);
            transition: all .5s;
            box-shadow: 5px 5px 25px $colordark;
        }
    }
    
}

.presta {
    width: 95vw;
    // height: calc(100vh - 96px);
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    text-align: center;
    &__disca, &__medica {
        font-family: 'Kanit', sans-serif;
        font-size: 2em;
        border: 1px solid black;
        border-radius: 10px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), grey);
        width: 40%;
        height: 40%;
        display: flex;
        flex-direction: column;
        
        
        & a {
            color: $colorlirghter;
        }
        & img {
            margin-top: 20px;
            width: 40%;
            position: relative !important;
            height: 50%;
        }
    }
}


@media (max-width:1200px) {
    .disca{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:900px) {
    .disca__seccion{
        font-size: 1.9rem;
    }
}
@media (max-width:750px) {
    .disca__seccion{
        font-size: 1.5rem;
    }
}
@media (max-width:650px) {
    .disca__seccion{
        font-size: 1.2rem;
    }
    .tituloarea{
        font-size: 2.3rem;
    }
    .presta{
        &__disca, &__medica {
            width: 60%;
            height: 60%;
        }
    }
}

@media (max-width:650px) and (orientation: landscape) {
    .disca__seccion{
        font-size: 1.2rem;
    }
}



@media (max-width:500px) {
    .disca{
        grid-template-columns: 1fr;
        &__seccion{
            font-size: 1.7rem;
        }

    }
    
    .tituloarea{
        font-size: 1.75rem;
    }
    .presta{
        &__disca, &__medica {
            width: 80%;
            height: 80%;
            font-size: 1.5rem;
        }
    }
}
@media (max-width:350px) {
    .disca__seccion{
        font-size: 1.3rem;
    }
}